<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array/>
	<key>NSHealthShareUsageDescription</key>
	<string>TrainState needs access to your health data to track your sleep, recovery, and stress levels.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>TrainState needs permission to update your health data for tracking sleep, recovery, and stress levels.</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>healthkit</string>
	</array>
</dict>
</plist>
