<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>brettduplessis.TrainState</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>exercisepal</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconClear</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconClear</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconClear</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconDark</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconDark</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconLight</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconLight</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>NSHealthShareUsageDescription</key>
	<string>Exercise Pal reads your recent Health workouts so you can import them on demand.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Exercise Pal uses your location to start route planning from where you are.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
